<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="LogFile" value="c:\Log\TechReconlogWindowService.txt" />
    <add key="LogSize" value="1073368" />
    <add key="LogFilePath" value="C:\Log\" />
    <add key="FileError" value="C:\Log\FileErrorLog.txt" />
  

    <add key="sybconnection" value="Data Source={{Data Source}}; port={{port}};database ={{database}}; uid={{uid}};pwd={{pwd}}; charset=iso_1;Min Pool Size=200;;Max Pool Size=1000; ConnectionIdleTimeout=180;" />
    <add key="oracleconnection" value="Data Source={{Data Source}}; ;User Id={{UserId}};database ={{database}}; uid={{uid}};pwd={{pwd}}; charset=iso_1;Min Pool Size=200;;Max Pool Size=1000; ConnectionIdleTimeout=60;" />
    <add key="oracleconnection" value="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST = {{Data Source}})(PORT = {{port}})))(CONNECT_DATA =(SERVICE_NAME = {{database}})));User ID={{UserId}}/Schema;Password={{pwd}};Unicode=True" />
    <add key="REMOTE_USERNAME" value="Opeyemi" />
    <add key="REMOTE_PASSWORD" value="olarenwaju7910" />
    <add key="REMOTE_DOMAIN" value="Lawal" />
    <add key="ipAddressJournal" value="127.0.0.1" />
    <!--string con = "Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST = 000.00.0.00)(PORT = 0000)))(CONNECT_DATA =(SERVICE_NAME = database)));User ID=User/Schema;Password=password;Unicode=True";-->
  </appSettings>
  <connectionStrings>

    <add name="AppDBConnect" connectionString="no need for now" />
    
      <add name="DefaultConnection" connectionString="data source=WIN-CODUL1HAKU5;initial catalog=TechRecon;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
 
      <add name="SQLconnection" connectionString="data source={{Data Source}},{{port}};Network Library=DBMSSOCN;initial catalog={{database}};user id={{uid}};password={{pwd}};" providerName="System.Data.SqlClient" />
   
    <!--<add name="sqlconnection" connectionString="Data Source={{Data Source}};Initial Catalog={{database}};User Id={{uid}};Password={{pwd}};MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
   
    <add name="TechReconConn" connectionString="Data Source=.;Initial Catalog=TechRecon;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
   
    <add name="TechReconEntities" connectionString="metadata=res://*/TechReconWindowService.csdl|res://*/TechReconWindowService.ssdl|res://*/TechReconWindowService.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TechRecon;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>